<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <nav>        
        <a href="/items/new">Add new items</a>
        <a href="/items">All Items</a>
    </nav>
    <main>
        <h1> <%= title %> </h1>