<%- include('../partials/header') %>

<form id="new-form" action="/items" method="POST">
    <label>Item name</label>
    <input type="text" name="name">
    <label>Available</label>
    <input type="checkbox" name="available" checked>
    <label>Quantity</label>
    <select name="quantity">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5" selected>5</option>
    </select>
    <input type="submit" value="Add item">
</form>

<%- include('../partials/footer') %>